.EVResourceItemDialog {
  position: absolute;
  width: 99%;
  height: 95%;
  z-index: 1300;
  top: 5px;
  left: 5px;
  margin: 0 auto;
  background-color: var(--clr-ev-bg);
}

/* Titlebar */
.EVResourceItemDialog .titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 12px 24px;
  font-size: 1em;
  font-weight: var(--txt-weight-semibold);
  color: var(--clr-txt-reverse);
  background-color: var(--clr-ev);
}
.EVResourceItemDialog .titlebar h1 {
  font-size: var(--txt-size);
  font-weight: var(--txt-weight-bold);
  color: var(--clr-txt-reverse);
  margin-bottom: 0;
  margin-right: 25px;
}
.EVResourceItemDialog .titlebar .label {
  flex-grow: 1;
  margin-left: 0.5rem;
}
.EVResourceItemDialog .titlebar .box {
  color: var(--clr-txt-reverse);
  background-color:var(--clr-ev-dark);
  padding: 3px 12px;
}
.EVResourceItemDialog .titlebar button {
  margin-left: 15px;
  color: var(--clr-txt-reverse);
  font-weight: var(--txt-weight-bold);
}
.EVResourceItemDialog .titlebar .dot.small {
  margin-top: 3px;
  color: var(--clr-txt);
  background-color: var(--clr-ev-bg);
  border: none;
}


/* Content */
.EVResourceItemDialog .content {
  display: flex;
  column-gap: 24px;
  height: 100%;
  padding: 16px 24px;
}
#resourceFrame {
  border-radius: 8px;
  height: 90%;
  flex-grow: 1;
}
.EVResourceItemDialog .content .sidebar {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  width: 320px;
  height: 90%;
  padding-left: 10px;
  vertical-align: top;
  overflow: hidden;
}
.EVResourceItemDialog .content .sidebar .ev-title {
  display: flex;
  align-items: baseline;
  font-weight: var(--txt-weight-semibold);
}
.EVResourceItemDialog .content .sidebar .ev-title .dot {
  margin-right: 0.5rem;
}
.EVResourceItemDialog .content .sidebar button {
  background-color: var(--clr-ev);
  margin: 16px 0;
}
.EVResourceItemDialog .content .sidebar .ev-list {
  display: inline-flex;
  background-color: #c7d7d6;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  vertical-align: top;
  overflow-y: scroll;
  overflow-x: hidden;
}