.EVResourceItem {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-ev-bg);
  cursor: pointer;
}
/* .EVResourceItem.expanded {
  height: 500px;
  transition-property: height;
  transition-duration: 4s;
  transition-timing-function: ease-in-out;
  transition-delay: 2s;
} */

.EVResourceItem > .titlebar {
  display: grid;
  grid-template-columns: 40px auto 40px 40px;
  column-gap: 5px;
  align-items: center;
  height: 60px;
  padding: 10px;
  font-size: 1em;
  font-weight: var(--txt-weight-semibold);
  color: var(--clr-txt);
}

.EVResourceItem > .ev-list {
  padding: 8px;
  overflow: hidden;
}
.EVResourceItem > .ev-list.collapsed {
  transform: scaleY(0%);
  max-height: 0;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  transition-delay: 0.1s;
  transform-origin: top;
}
.EVResourceItem > .ev-list.expanded {
  transform: scaleY(100%);
  max-height: 100%;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
  transition-delay: 0.05s;
  transform-origin: top;
}

.EVResourceItem .EVLink:last-child {
  /* undo radius so button can appear next to evlinks */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.EVResourceItem .emulate-evlink {
  display: flex;
  flex-direction: column;
  margin-top: -8px; /* raise up to evlink */
  padding: 8px 0;
  background-color: var(--clr-ev-bg);
}
.EVResourceItem .emulate-evlink > div {
  display: flex;
  flex-direction: column;
  padding: 12px 10px 10px 10px;
  background-color: var(--clr-evlink-bg);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.EVResourceItem .emulate-evlink button {
  color: var(--clr-txt-reverse);
  background-color: var(--clr-ev);
}
