.screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #4f64a0;
  z-index: var(--z-help);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.WLogin.dialog {
  width: 444px;
  padding: 48px 36px;
  border-radius: 16px;
  background-color: white;

  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.WLogin.dialog h1 {
  font-size: var(--txt-size-lrg);
  font-weight: var(--txt-weight-bold);
  margin-block-end: 0;
}

.WLogin.dialog input.invalid {
  border: 1px solid red;
  outline-color: red;
}
.WLogin.dialog input.valid {
  border-color: inherit;
}
