.WRatingsDialog {
  background-color: white;
  border-radius: var(--dialog-border-radius);
  box-shadow: var(--dialog-shadow);

  display: flex;
  flex-direction: column;
}

.WRatingsDialog > .close {
  justify-content: flex-end;
}

.WRatingsDialog h3 {
  max-width: 400px;
}

.WRatingsDialog .dialog-content {
  padding: 6px 40px 40px 40px;
}

.WRatingsDialog img {
  width: 30px;
}
