.WRatingsDialog {
  padding: 24px;
  background-color: white;
  border-radius: var(--dialog-border-radius);
  box-shadow: var(--dialog-shadow);

  display: flex;
  flex-direction: column;
}

.WRatingsDialog > .close {
  justify-content: flex-end;
}
