.WRatingsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WRatingsList > .rating {
  display: grid;
  grid-template-columns: 100px auto;
  justify-content: start;
  column-gap: 10px;
  margin-bottom: 5px;
  width: 300px;
}

.WRatingsList button.primary {
  border: 2px solid var(--clr-btn-primary);
  color: var(--clr-txt);
  background-color: white;
}
